* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #56baed;
  --tertiary-color: black;
  --fourth-color: #fff;
  --fifth-color: #56baed;
  --sixth-color: #56baed;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--secondary-color);
}

.select-box,
.play-board,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.select-box {
  background: var(--primary-color);
  padding: 2rem 2.5rem 2.5rem;
  border-radius: 0.5rem;
  max-width: 33rem;
  width: 100%;
  color: var(--tertiary-color);
}

.select-box header {
  font-size: 2.3rem;
  font-weight: 600;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid #ccc;
}

.options {
  display: flex;
  width: 100%;
}

.options button {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 0;
  border: none;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-board {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.play-area {
  margin-top: 2rem;
}

.play-area section {
  display: flex;
}

.play-area section span {
  display: block;
  margin: 0.2rem;
  height: 8rem;
  width: 8rem;
  background: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 4rem;
  text-align: center;
  line-height: 8rem;
  color: var(--fifth-color);
  cursor: pointer;
}

.result-box {
  background: var(--primary-color);
  padding: 2rem;
  font-weight: bold;
  border-radius: 5px;
  max-width: 35rem;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
}

.result-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text {
  font-size: 2.5rem;
  color: var(--tertiary-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.result-box .btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.result-box .btn button {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  color: var(--fourth-color);
  border: none;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer {
  position: relative;
  padding: 0.5rem !important;
  background-color: #212529 !important;
}

.footer h4 {
  color: white;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .play-area section span {
    height: 6rem;
    width: 6rem;
    font-size: 3rem;
    line-height: 6rem;
  }
}
